---

---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>@yastaraus</title>
		<meta name="color-scheme" content="dark light">
	</head>
	<body>
  	<div class="wrapper">
    	<div class="content">
       <h1>@yastaraus</h1>
       <p>Пока ничего нет, и возможно, не будет. Я пока не придумал ничего.</p>
       <p>Подписывайтесь <a href="https://bsky.app/profile/yastaraus.com">сюда</a>.</p>
       <p>Спасибо.</p>
     </div>
  	</div>
	</body>
</html>

<style>
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 2em;
}
</style>
