---
import "@styles/global.css";
import { SITE_DATA } from "@data/site.js";

const {
  title = SITE_DATA.name,
  description = SITE_DATA.name
} = Astro.props;
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body>
  <style>
      @layer base {
        body {
          max-width: 800px;
          margin-inline: auto;
          font-family: monospace;
        }
        img, picture {
          max-width: 100%;
          display: block;
        }
      }
    </style>
		<slot />
	</body>
</html>
